:root {
  --warn-color: #ff2300;
  --valid-color: #00dd22;
  --info-color: #00aeff;
  --neutral-color: #d3d3d3;
  --white-color: white;
  --black-color: black;
  --experimental-color: #2f00ff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

body {
  margin: 4px;
}

/* td {
  border: 1px solid black;
  padding: 0px 2px;
} */
/* tr {
  border: 1px solid black;
} */

th {
  border: 2px solid var(--neutral-color);
  background-color: var(--neutral-color);
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
}

th:nth-of-type(1) {
  background-color: var(--info-color);
  border-color: var(--info-color);
}

th:nth-of-type(2) {
  background-color: yellowgreen;
  border-color: yellowgreen;
}

th:nth-of-type(3) {
  background-color: orangered;
  border-color: orangered;
}

th:nth-of-type(4) {
  background-color: plum;
  border-color: plum;
}

th:nth-of-type(5) {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

th:nth-of-type(6) {
  background-color: lightslategray;
  border-color: lightslategray;
}

tr > td:last-child {
  border-right: 2px solid lightslategray;
}

tr:last-child > td:nth-of-type(1) {
  border-bottom: 4px solid var(--info-color);
}

tr:last-child > td:nth-of-type(2) {
  border-bottom: 4px solid yellowgreen;
}

tr:last-child > td:nth-of-type(3) {
  border-bottom: 4px solid orangered;
}

tr:last-child > td:nth-of-type(4) {
  border-bottom: 4px solid plum;
}

tr:last-child > td:nth-of-type(5) {
  border-bottom: 4px solid lightseagreen;
}

tr:last-child > td:nth-of-type(6) {
  border-bottom: 4px solid lightslategray;
}

/* tr > td:nth-of-type(1) {
  border-left: 2px solid var(--info-color);
} */

.border-right {
  border-right: 2px solid var(--info-color);
}

.border-left {
  border-left: 2px solid var(--info-color);
}

table {
  border: 2px solid var(--neutral-color);
  border-bottom: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  width: min(60rem, 100%);
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.ancillery {
  border: none;
}

@media screen and (max-width: 31rem) {
  /* td.heat-tech {
    position: relative;
    min-width: 2.5rem;
    height: 6rem;
    font-size: 0.9rem;
  }

  th {
    position: relative;
    height: 8rem;
    min-width: 2.5rem;
  }

  th > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    width: 8rem;
    font-size: 0.9rem;
  } */

  /* td > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    width: 8rem;
  } */

  table {
    font-size: 0.9rem;
    width: calc(100%);
  }
}

.spacer {
  height: 1rem;
}
