:root {
  --dark-accent: #024557;
  --neutral-color: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.graph {
  width: 20rem;
  /* height: 20rem; */
  /* padding-top: 0.5rem;
  padding-right: 0.5rem; */
  /* border: 1px solid black; */
  /* margin: 1rem; */
}

canvas {
  width: 20rem;
  /* height: 20rem; */
}

img {
  width: 1rem;
}

.btn {
  width: 19rem;
  padding: 0.1rem 1rem;
  margin: 0.1rem 1.5rem;
  border: 2px solid black;
  border-left-width: 1rem;
  border-color: black;
  color: black;
  font-weight: normal;
  text-align: left;
  transition: 0.2s all ease-in-out;
  font-size: 0.9rem;
}

.btn:hover {
  border-left-width: 1.5rem;
}
.btn.active {
  border-left-width: 2rem;
}

.btn.active:hover {
  border-left-width: 1.5rem;
}

.bg-color-red {
  border-color: rgb(255, 0, 0);
}
.bg-color-orange {
  border-color: rgb(255, 166, 0);
}
.bg-color-green {
  border-color: rgb(0, 128, 0);
}
.bg-color-blue {
  border-color: rgb(0, 0, 255);
}
.bg-color-indigo {
  border-color: rgb(75, 0, 130);
}
.bg-color-violet {
  border-color: rgb(238, 130, 238);
}

.options {
  width: 19rem;
  margin: 0rem 0rem;
  padding: 0.5rem 1rem;
  /* border: 1px solid var(--dark-accent); */
}

.options .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.card .select-row {
  width: 19rem;
  margin: 0rem 0rem;
  padding: 0.5rem 0rem;
  /* border: 1px solid var(--dark-accent); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.card select {
  width: 9rem;
  margin: 0rem 0rem;
  padding: 0.5rem 0.1rem;
  border: 1px solid var(--dark-accent);
}

.card {
  width: 22rem;
  min-height: 25rem;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--dark-accent);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
