body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.menu {
  width: 20rem;
  margin: 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-items: center; */
  /* align-items: center; */
  /* align-content: flex-start; */
}

.parent {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(128, 128, 230, 0.15);
}

.parent.btop {
  border-top: 1px solid black;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.children.hide {
  display: none;
}

.child {
  font-size: 0.8rem;
  font-weight: normal;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(128, 128, 128, 0.07);
}

.name {
  flex-grow: 1;
}

div.marker {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  /* border: 1px solid black; */
  background-color: black;
}

div.marker.red {
  background-color: red;
}

div.marker.blue {
  background-color: blue;
}

div.marker.green {
  background-color: green;
}

div.marker.cyan {
  background-color: rgb(0, 148, 255);
}

div.marker.purple {
  background-color: rgb(255, 106, 255);
}

div.marker.orange {
  background-color: rgb(255, 106, 0);
}

img.marker {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  /* border: 1px solid black; */
}

.show {
  height: 1rem;
  margin: 0rem 0.5rem;
  /* border: 1px solid black; */
}

.parent-expand {
  margin: 0.2rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.parent-expand.isopen {
  transform: rotate(-135deg);
}

.child-expand {
  margin: 0.2rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.child-expand.isopen {
  transform: rotate(-135deg);
}

.combo-info {
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: normal;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  padding: 0rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.combo-info .name-value {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0rem;
}

.combo-info.hide {
  display: none;
}

/* Graph */

.graph-container {
  width: 30rem;
  height: fit-content;
  margin: 0rem;
  margin-bottom: 1rem;
  padding: 0rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 28rem;
  /* border: 1px solid black; */
}

.graph-container .select-row {
  width: 100%;
  margin: 0rem 0rem;
  padding: 0.5rem 1rem;
  /* border: 1px solid var(--dark-accent); */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.graph-container select {
  width: 9rem;
  margin: 0rem 0.5rem;
  padding: 0.5rem 0.1rem;
  border: 1px solid var(--dark-accent);
}

.output {
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.menu-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  max-height: 100%;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 21rem;
}

@media screen and (max-width: 60rem) {
  .output {
    flex-direction: column;
  }

  .graph-container {
    width: 22rem;
  }

  .graph {
    width: 18rem;
  }

  .menu-scroll {
    height: 50%;
  }
}
