html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

.background.radial {
  background-color: #ffffff;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffffff 36px
    ),
    repeating-linear-gradient(#e1edff55, #e1edff);
}

nav {
  width: 100%;
  height: 4rem;
  position: fixed;
  /* background-color: rgba(2, 69, 87, 0.8); */
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: transparent;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px #535353;
  z-index: 1;
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
}

/* nav::before {
  content: "";
  background-image: linear-gradient(0deg, #00aeff, #a68eff);
} */

nav .link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-bottom: 3px solid transparent;
}

nav img {
  width: 4rem;
  height: 4rem;
  padding: 0rem 1rem;
}

nav .button {
  background-color: white;
  border-radius: 4px;
  color: rgba(2, 69, 87, 0.5);
  border-style: none;
  transition: all 0.35s ease-in-out;
}

.nav-buffer {
  width: 100%;
  height: 4rem;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

nav .link:hover,
#nav-menu .showing {
  /* color: #69a7a7; */
  /* transition: all 0.3s ease; */
  border-bottom: 3px solid white;
}

.button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border-bottom: none;
}

.parent {
  box-sizing: border-box;
  overflow-y: overlay;
  height: calc(100% - 4rem);
  scroll-snap-points-y: repeat(50vh);
  scroll-snap-type: y mandatory;
}

.parent .page {
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.parent > .page > h2 {
  padding: 0rem;
  margin: 0rem;
}

.containers {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  overflow-x: overlay;
  height: 100%;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-bottom: 2rem;
}

.parent3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  padding: 0rem 0rem;
}

.containers.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.containers.active > section {
  transform: scale(1.01);
}

.containers > div {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  min-width: 15rem;
  min-height: 22rem;
  margin: 0rem 1rem;
  padding: 1rem;
  border: 1px solid rgba(2, 69, 87, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.containers > div .img {
  width: 8rem;
  height: 8rem;
}

.containers > div h2 {
  font-size: 1.5rem;
  height: 4rem;
  text-align: center;
  font-weight: bold;
  margin: 0.25rem 0rem;
  padding: 0rem;
  color: rgba(2, 69, 87, 1);
}

.containers > div p {
  font-size: 0.8rem;
  margin: 0.25rem 0rem;
  padding: 0rem;
  text-align: center;
  color: rgba(2, 69, 87, 1);
}

.containers > div > a {
  background-color: #00aeff;
  /* background-image: linear-gradient(45deg, #00aeff, #a68eff); */
  border-radius: 5rem;
  color: white;
  border-style: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}

.containers > div > a:hover {
  background-color: #a68eff;
  transform: scale(1.04);
  /* background-image: linear-gradient(-45deg, #00aeff, #a68eff); */
  color: white;
  border-bottom: none;
}

.img {
  background-color: pink;
  color: white;
  font-weight: bold;
  border: 1px solid rgba(2, 69, 87, 0.5);
  content: "image";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.25rem;
  padding: 0.25rem;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.dots > div {
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 1rem;
  margin: 1rem;
  transition: all 0.35s;
}

.dots > div:hover {
  transform: scale(1.3);
  background-image: linear-gradient(0deg, #00aeff, #a68eff);
}
.dots > div.active {
  transform: scale(1.6);
  background-image: linear-gradient(-45deg, #00aeff, #a68eff);
}

.sc5::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.sc5::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sc5::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 4px;
  /* -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; */
}

.home {
  min-height: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
}

.home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
}

.home h1 {
  color: var(--dark-accent);
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
}

.home .link {
  background-color: #00aeff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border-style: none;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  padding: 0.5rem 2rem;
  transition: all 0.35s ease-in-out;
}

.home .link:hover {
  background-color: #a68eff;
}

.home > img {
  width: 30rem;
}

@media screen and (max-width: 900px) {
  .home h1 {
    font-size: 3rem;
  }
  .home > img {
    width: 20rem;
  }

  .home .link {
    font-size: 2rem;
  }
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00aeff;
  border-radius: 5rem;
  color: white;
  border-style: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  width: 7rem;
}

button.left {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

button.middle {
  width: 5rem;
  border-radius: 0px;
  transform: scale(1.05);
  background-image: linear-gradient(90deg, #00aeff, #a68eff);
}

button.middle.active {
  background-image: linear-gradient(-90deg, #00aeff, #a68eff);
}

button.right {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

button:hover,
button.active {
  background-color: #a68eff;
  transform: scale(1.05);
}

button.middle:hover {
  background-color: #a68eff;
  transform: scale(1.05);
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#education-expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: hidden;
  width: 100%;
}

#education-compact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  min-width: 17rem;
  min-height: 24rem;
  margin: 0rem 1rem;
  padding: 0rem 1rem;
  margin-bottom: 5rem;
  /* border: 1px solid rgba(2, 69, 87, 0.5); */
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(2, 69, 87, 0.5);
}

#education-compact p {
  color: white;
  font-size: 1rem;
  font-weight: bold;

  width: 80%;
  padding: 0.5rem 0rem;
  text-align: center;
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  opacity: 0.5;
  transition: 0.3s all ease-in-out;
}

#education-compact p:hover {
  transform: scale(1.05);
  opacity: 1;
}

.hide {
  display: none !important;
}

.carosel {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: centre;
  align-items: center;
  width: 100%;
  overflow-x: overlay;
  height: 5rem;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin: 2rem 0rem;
}

.carosel p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  opacity: 0.5;
  transition: 0.3s all ease-in-out;
  margin: 0rem 1rem;
  min-width: max-content;
  scroll-snap-align: center;
}
.carosel p:hover {
  transform: scale(1.05);
  opacity: 1;
}

.carosel p.active {
  transform: scale(1.05);
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  max-width: 75rem;
  min-height: 60%;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  opacity: 0.6;
}

.subeducation {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.subeducation > h2 {
  padding: 0rem;
  margin: 0rem;
}

.info > div {
  width: 100%;
  height: 100%;
}

.info .fadein {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid rgba(2, 69, 87, 0.5);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(25rem, 75%);
}

select {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  height: 3rem;
  border: 0px;
  outline: 0px;
  border: 2px solid #d3d3d3;
  color: #d3d3d3;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  background: transparent;
  border-radius: 0px;
  /* transition: 0.2s all ease-in-out; */
}

.fadein {
  animation: fadeIn 1s;
}

select.valid {
  border-color: #00dd22;
  color: #00dd22;
}

select.invalid {
  border-color: #ff2300;
  color: #ff2300;
}

select option {
  color: #00dd22;
}

select option:nth-child(1) {
  color: #d3d3d3;
}

select option:nth-child(2) {
  color: #ff2300;
}

.form button {
  background-color: #d3d3d3;
  transition: 0.2s all ease-in-out;
  margin-top: 1rem;
}

.form button:hover {
  background-color: #00dd22;
}

/* select.focus {
  border-color: #00aeff;
  color: #00aeff;
} */

.input-field {
  position: relative;
  margin: 0rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 3rem;
}

.input-field > * {
  /* transition: 0.2s all ease-in-out; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  padding: 0.5rem 0rem;
  margin: 0rem;
  font-size: 1rem;
}

.input-field p {
  transition: 0.2s all;
  cursor: text;
  pointer-events: none;
}

.input-field input {
  border: 0;
  outline: 0;
  padding: 0.5rem 0rem;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: black;
  background-color: transparent;
  font-family: "Sora", sans-serif;
  border-radius: 0px;
}

.input-field input.focus {
  /* border-color: #00aeff; */
}

.input-field input.focus ~ p {
  font-size: 0.9rem;
  top: calc(-0.9rem - 0.5rem);
  /* color: #00aeff; */
}

.input-field input.invalid {
  outline: 0;
  border-color: #ff2300;
}

.input-field input.valid {
  border-color: #00dd22;
}

.input-field input.valid ~ p {
  font-size: 0.9rem;
  top: calc(-0.9rem - 0.5rem);
  color: #00dd22;
}

.input-field input.invalid ~ p {
  font-size: 0.9rem;
  top: calc(-0.9rem - 0.5rem);
  color: #ff2300;
}

.input-span {
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  color: #d3d3d3;
  border: 2px solid #d3d3d3;
  margin: 0rem 0rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.2s all ease-in-out;
}

.infoicon:hover {
  color: #00aeff;
  border: 2px solid #00aeff;
}

#address option {
  font-size: 1rem;
}

.warn-box {
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  width: 100%;
  border: 0px;
  outline: 0px;
  border: 2px solid #ff2300;
  color: #ff2300;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  background: transparent;
  border-radius: 0px;
}

.info-box {
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  width: 100%;
  border: 0px;
  outline: 0px;
  border: 2px solid #00aeff;
  color: #00aeff;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  background: transparent;
  border-radius: 0px;
}

.spacer {
  height: 1rem;
}

.warn-box a {
  color: #ff2300;
}

#address-manual {
  width: 15rem;
}

#address-manual:hover {
  background-color: #ff2300;
}

/* Chrome, Safari, Edge, Opera */
input.hide-spinner::-webkit-outer-spin-button,
input.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.hide-spinner[type="number"] {
  -moz-appearance: textfield;
}
